body {
    font-family: sans-serif;
    margin: 50px;
}

p.explainer {
    color: purple;
}

p.lia {
    color:orangered;
    font-size: 18pt;
}

form.extractform {
    width: 800px;
    padding: 10px;
    margin-right: 400px;
}

.xformbutton {
    font-size: 18pt;
    color: black;
    background-color: orangered;
}