{% extends 'layout.html' %}

{% block head %} 

{% endblock %}

{% block body %}
<p> The GPS file has been translated with the results below. 
    Please review and select to save the results or restart another ETL operation.
</p>
<br>
<p> Cyclemeter activities extracted : {{run_df.shape[0]}} <br>
                Activity Total Distance : {{ run_df['distance'].sum() | round }} miles <br>
                Total GPS points extracted : {{run_df['extracted_points'].sum() }}

                <table class="table">
                    <thead>
                      <tr>
                        <th>Start Time</th>
                        <th>Ride Time</th>
                        <th>Stopped Time</th>
                        <th>Distance</th>
                        <th>Average Speed</th>
                        <th>Max Speed</th>
                        <th>Ascent</th>
                        <th>Notes</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for run_tuple in run_df.itertuples() %}
                      <tr>
                        <td>{{run_tuple.title_formatted_startTime}}</th>
                        <td>{{ run_tuple.runTime }}</td>
                        <td>{{ run_tuple.stoppedTime }}</td>
                        <td>{{ run_tuple.distance }}</td>
                        <td>{{ run_tuple.average_speed }}</td>
                        <td>{{ run_tuple.maxSpeed }}</td>
                        <td>{{ run_tuple.ascent }}</td>
                        <td>{{ run_tuple.notes }}</td>
                      </tr>
                        {% endfor %}
                    </tbody>
                  </table>                
</p>
<br>
<form method="POST", action="/gps_load" >
    <input type="submit" value="Save">
    <input type="submit" formaction="/" formmethod="GET" value="Cancel">    
</form>
{% endblock %}