<!DOCTYPE html>
                              <html lang="en">
                              <head>
                                  <meta charset="UTF-8">
                                  <meta name="viewport" content="width=device-width, initial-scale=1.0">
                                  <meta http-equiv="X-UA-Compatible" content="ie=edge">
                              </head>
                              <body>
                                <h1> H1 Tester Bigelow the pig </h1>
                                {{ run_tuple.formatted_startTime }} <br>
                                <strong>Distance</strong> : {{ run_tuple.distance }} miles <br>
                                Average Speed : {{ run_tuple.average_speed }} mph <br>
                                Max Speed : {{ run_tuple.maxSpeed }} mph <br>
                                Ascent : {{ run_tuple.ascent }} feet <br>
                                {{run_tuple.activity_name}} Time : {{run_tuple.runTime }} <br>
                                Stop Time : {{run_tuple.stoppedTime }} <br>
                                <br>
                                <table style="width:100%">
                                  <tr>
                                    <th>Company</th>
                                    <th>Contact</th>
                                    <th>Country</th>
                                  </tr>
                                  <tr>
                                    <td>Alfreds Futterkiste</td>
                                    <td>Maria Anders</td>
                                    <td>Germany</td>
                                  </tr>
                                  <tr>
                                    <td>Centro comercial Moctezuma</td>
                                    <td>Francisco Chang</td>
                                    <td>Mexico</td>
                                  </tr>
                              </table>
                                {{ run_tuple.notes }} 
                              </body>
                              </html>